<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>A list of Current Admins</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.15.4/css/font-awesome.min.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
<div class="text-center">
    <h1 class="h1">A List of Admins</h1>
    <h2 class="h2"><a class="link-info" th:href="@{/open}">Create an admin</a></h2>
</div>
<div class="container text-center container-fluid">
    <div>
        <table class="table table-bordered table-striped table-hover">
            <thead class="table-dark">
  <tr>
      <th>ID</th>
      <th>UserName</th>
      <th>Email</th>
      <th>Password</th>
      <th>Status</th>
      <th>Enable</th>
      <th>Disable</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="admins : ${listAdmins}">
      <td th:text="${admins.id}">ADMIN ID</td>
      <td th:text="${admins.username}">ADMIN USERNAME</td>
      <td th:text="${admins.email}">ADMIN EMAIL</td>
      <td th:text="${admins.password}">ADMIN PASSWORD</td>
      <td>
          <span th:if="${admins.enabled}">
              <i class="fas fa-check-circle" style="color: darkgreen"></i>
          </span>
          <span th:unless="${admins.enabled}">
              <i class="fas fa-times-circle" style="color: darkblue"></i>
          </span>
      </td>
      <td>
          <form action="#" th:action="@{/enable/{id}(id=${admins.id})}"  method="post">
              <button type="submit" class="bg-success btn-sm">
                  <i class="fas fa-check-square"></i>
              </button>
          </form>
      </td>
      <td>
          <form action="#" th:action="@{/disable/{id}(id=${admins.id})}"  method="post">
              <button type="submit" class="bg-danger btn-sm">
                  <i class="fas fa-trash"></i>
              </button>
          </form>
      </td>
  </tr>
  </tbody>
</table>
    </div>
</div>
</body>
</html>